[Unit]
Description=Forces correct xdg desktop portal.
After=graphical-session.target
After=wayland-session@sway.desktop.target
After=wayland-session@hyprland.desktop.target

[Service]
Type=oneshot
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway:Wayfire:labwc:Hyprland" ""
ExecStart=%h/.local/bin/force-xdg-desktop-portal
Restart=on-failure
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target
WantedBy=wayland-session@sway.desktop.target
WantedBy=wayland-session@hyprland.desktop.target
