[Unit]
Description=Highly customizable Wayland bar for Sway and Wlroots based compositors.
After=graphical-session.target
After=wayland-session@sway.desktop.target
After=wayland-session@hyprland.desktop.target

[Service]
Type=exec
# Repurpose XDG Autostart filtering
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway:Wayfire:labwc:Hyprland" ""
ExecStart=/usr/bin/nwg-panel
ExecReload=kill -SIGINT $MAINPID
Restart=on-failure
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target
WantedBy=wayland-session@sway.desktop.target
WantedBy=wayland-session@hyprland.desktop.target
