[Unit]
After=graphical-session.target
After=wayland-session@sway.desktop.target

[Service]
Type=exec
# Repurpose XDG Autostart filtering
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway" ""
ExecStart=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
Restart=on-failure
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target
WantedBy=wayland-session@sway.desktop.target
