[Unit]
Description=Highly customizable Wayland bar for Sway and Wlroots based compositors.
Documentation=man:waybar(5)
After=graphical-session.target
After=wayland-session@sway.desktop.target
After=wayland-session@hyprland.desktop.target

[Service]
Type=exec
# Repurpose XDG Autostart filtering
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway:Wayfire:labwc:Hyprland" ""
ExecStart=/usr/bin/waybar -c /home/edward/.config/waybar/config-top -b top
ExecReload=kill -SIGUSR2 $MAINPID
Restart=on-failure
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target
WantedBy=wayland-session@sway.desktop.target
WantedBy=wayland-session@hyprland.desktop.target
