*

!.gitignore
!.gitconfig

## Config
!.config/
!.config/**
.config/.avalonia-build-tasks
.config/.mozilla
.config/abiword
.config/autostart
.config/Bitwarden
.config/bless
.config/bolt-launcher
.config/BraveSoftware
.config/cef_user_data
.config/cni
.config/Code
.config/CurseForge
.config/dconf
.config/Electron
.config/electron-mail
.config/eso-addons
.config/FF Logs Uploader
.config/ghidra
.config/GIMP
.config/glib-2.0
.config/go
.config/godot
.config/google-chrome
.config/htop
.config/ibus
.config/inkscape
.config/kitty
.config/legendary
.config/l3afpad
.config/libfm
.config/libreoffice
.config/lyrebird
.config/MangoHud
.config/maven
.config/menus
.config/mopidy
.config/mpv
.config/Mullvad VPN
.config/neofetch
.config/npm
.config/NuGet
.config/nwg-panel/icons_color
.config/nwg-panel/icons_dark
.config/nwg-panel/icons_light
.config/obs-studio
.config/ow-electron
.config/pulse
.config/pupgui
.config/qutebrowser
.config/ranger
.config/rbw
.config/rncbc.org
.config/Ryujinx
.config/spotify
.config/streamlink-twitch-gui
.config/systemd/user/default.target.wants
.config/systemd/user/graphical-session.target.wants
.config/systemd/user/graphical.target.wants
.config/systemd/user/multi-user.target.wants
.config/systemd/user/pipewire.service.wants
.config/systemd/user/sockets.target.wants
.config/systemd/user/timers.target.wants
.config/systemd/user/wayland-session@hyprland.desktop.target.wants
.config/systemd/user/wayland-session@sway.desktop.target.wants
.config/Twitch
.config/unity3d
.config/Upscayl
.config/vesktop
.config/vkBasalt
.config/vlc
.config/XIVLauncher
.config/xsettingsd
.config/electron-builder.json
.config/jd-gui.cfg
.config/VirtualBox
.config/zsh/.zcompdump-*

## Userscripts
!.local/
!.local/bin
!.local/bin/**

## Wallpapers
!Pictures/
!Pictures/Wallpapers
!Pictures/Wallpapers/**

## Etc
.mozilla
