@import url('file:///home/edward/.cache/wal/colors-waybar.css');

@keyframes blink-warning {
    70% {
        color: @color7;
    }

    to {
        color: @color7;
        background-color: @color3;
        border: 2px solid @color3;
    }
}

@keyframes blink-critical {
    70% {
        color: @color7;
    }

    to {
        color: @color7;
        background-color: @color1;
        border: 2px solid @color1;
    }
}

* {
    border: none;
    border-radius: 12px;
    min-height: 0;
    font-family: "Iosevka Nerd Font";
    font-weight: 500;
    font-size: 14px;
    padding: 0;
}

* button:hover {
    box-shadow: inherit;
    background: shade(alpha(@color8, 0.1), 1.25);
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

window#waybar {
    background: @color0;
    border: 2px solid @color8;
    color: @color7;
    font-family: 'Iosevka Nerd Font';
    font-size: 11px;
}

tooltip {
    background-color: @color0;
    border: 2px solid @color8;
    border-radius: 0px;
}

#clock,
#cpu,
#custom-disk-root,
#custom-disk-bottle,
#custom-disk-vault,
#custom-idle-inhibitors,
#custom-gpu,
#custom-gpu-edge,
#custom-gpu-junc,
#custom-gpu-mem,
#custom-media,
#custom-mouse,
#custom-notification,
#custom-updates,
#custom-uptime,
#gamemode,
#idle_inhibitor,
#memory,
#mode,
#mpris,
#network,
#pulseaudio,
#pulseaudio.source,
#temperature,
#tray,
#wireplumber,
#wireplumber.source,
#tray,
#window,
#workspaces {
    margin: 6px 0px 6px 6px;
    padding: 2px 8px;
}

#custom-mouse,
#pulseaudio,
#pulseaudio.source {
    color: @color0;
    background-color: darker(@color7);
    border: 2px solid @color7;
}

#custom-gpu-mem,
#pulseaudio.source {
    margin-right: 6px;
}

#clock,
#cpu,
#custom-idle-inhibitors,
#custom-gpu,
#custom-gpu-edge,
#custom-gpu-junc,
#custom-gpu-mem,
#custom-notification,
#idle_inhibitor,
#memory,
#tray,
#window,
#workspaces {
    background: @color8;
    border: 2px solid lighter(@color8);
    color: @color7;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 4px;
}

#workspaces button.focused {
    background-color: @color8;
}

#workspaces button.urgent {
    border-color: @color1;
}

#cpu,
#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu.warning,
#memory.warning {
    color: @color3;
    border: 2px solid @color3;
    animation-name: blink-warning;
    animation-duration: 5s;
}

#cpu.critical,
#memory.critical,
#network.disconnected {
    color: @color2;
    border: 2px solid @color1;
    animation-name: blink-critical;
    animation-duration: 3s;
}

#custom-notification,
#custom-idle-inhibitors,
#gamemode,
#idle_inhibitor,
#pulseaudio,
#pulseaudio.source,
#workspaces {
    padding-right: 1.0rem;
}

#gamemode.running,
#idle_inhibitor.activated,
#pulseaudio.muted {
    color: @color1;
}

#mode {
    background: @color2;
    border-bottom: 2px transparent;
    color: @color7;
}
