@import url('file:///home/edward/.cache/colors/current/waybar.css');

@keyframes blink-warning {
    70% {
        color: @base06;
    }

    to {
        color: @base06;
        background-color: @base0A;
        border: 1px solid @base0A;
    }
}

@keyframes blink-critical {
    70% {
        color: @base06;
    }

    to {
        color: @base06;
        background-color: @base0F;
        border: 1px solid @base0F;
    }
}

* {
    border: none;
    border-radius: 0px;
    min-height: 0;
    font-family: "Iosevka Nerd Font";
    font-weight: 500;
    font-size: 11px;
    padding: 0;
}

* button:hover {
    box-shadow: inherit;
    background: @base05;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

window#waybar {
    background: @base00;
    border: 1px solid @base08;
    color: @base06;
    font-family: 'Iosevka Nerd Font';
    font-size: 11px;
}

tooltip {
    background-color: @base00;
    border: 1px solid @base01;
    border-radius: 0px;
}

#clock,
#cpu,
#custom-disk-root,
#custom-disk-bottle,
#custom-disk-vault,
#custom-idle-inhibitors,
#custom-gpu,
#custom-gpu-edge,
#custom-gpu-junc,
#custom-gpu-mem,
#custom-media,
#custom-mouse,
#custom-notification,
#custom-updates,
#custom-uptime,
#gamemode,
#idle_inhibitor,
#memory,
#mode,
#mpris,
#network,
#pulseaudio,
#pulseaudio.source,
#temperature,
#tray,
#wireplumber,
#wireplumber.source,
#tray,
#window,
#workspaces {
    color: @base05;
    background-color: @base04;
    border: 1px solid @base01;
    margin: 4px 0px 4px 4px;
    padding: 2px 4px;
}

#custom-gpu-mem,
#pulseaudio.source {
    margin-right: 6px;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 4px;
}

#workspaces button.focused {
    background-color: @base02;
}

#workspaces button.urgent {
    border-color: @base0F;
}

#cpu,
#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu.warning,
#memory.warning {
    color: @base0A;
    border: 1px solid @base0A;
    animation-name: blink-warning;
    animation-duration: 5s;
}

#cpu.critical,
#memory.critical,
#network.disconnected {
    color: @base0F;
    border: 1px solid @base0F;
    animation-name: blink-critical;
    animation-duration: 3s;
}

#custom-notification,
#custom-idle-inhibitors,
#gamemode,
#idle_inhibitor,
#pulseaudio,
#pulseaudio.source,
#workspaces {
    padding-right: 1.0rem;
}

#gamemode.running,
#idle_inhibitor.activated,
#pulseaudio.muted {
    color: @base0F;
}

#mode {
    background: @base0F;
    border-bottom: 2px transparent;
    color: @base06;
}
