@import url('file:///home/edward/.cache/wal/colors-waybar.css');

@keyframes blink-warning {
    70% {
        color: @color7;
    }

    to {
        color: @color7;
        background-color: @color3;
        border: 2px solid @color3;
    }
}

@keyframes blink-critical {
    70% {
        color: @color7;
    }

    to {
        color: @color7;
        background-color: @color1;
        border: 2px solid @color1;
    }
}

* {
    border: none;
    border-radius: 0px;
    min-height: 0;
    margin: 1px;
    padding: 0;
}

* button:hover {
    box-shadow: inherit;
    background: shade(alpha(@color5, 0.1), 1.25);
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

window#waybar {
    background: transparent;
    color: @color7;
    font-family: 'Iosevka Nerd Font';
    font-size: 11px;
}

window#waybar.top {
    margin: 5px 2px 0px 2px;
}

window#waybar.bot {
    margin: 0px 2px 5px 2px;
}

tooltip {
    border-radius: 0px;
}

#clock,
#cpu,
#custom-disk-root,
#custom-disk-bottle,
#custom-disk-vault,
#custom-gpu,
#custom-gpu-edge,
#custom-gpu-junc,
#custom-gpu-mem,
#custom-mouse,
#custom-updates,
#custom-uptime,
#gamemode,
#idle_inhibitor,
#memory,
#mode,
#mpris,
#network,
#pulseaudio,
#pulseaudio.source,
#temperature,
#tray,
#wireplumber,
#wireplumber.source,
#workspaces,
#window {
    border: 2px solid @color8;
    /*border-radius: 12px;*/
    padding: 0.5rem 0.8rem;
    background-color: @color0;
}

#cpu,
#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu.warning,
#memory.warning {
    animation-name: blink-warning;
    animation-duration: 5s;
}

#cpu.critical,
#memory.critical,
#network.disconnected {
    color: @color1;
    border: 2px solid @color1;
    animation-name: blink-critical;
    animation-duration: 3s;
}

#gamemode,
#idle_inhibitor {
    padding-right: 1.2rem;
    color: @color8;
}

#gamemode.running,
#idle_inhibitor.activated,
#pulseaudio.muted {
    color: @color1;
}

#mode {
    background: @color1;
    border-bottom: 2px transparent;
    color: @color7;
}

#network {
    min-width: 15.0em;
}

#workspaces {
    font-size: 13px;
}

#workspaces button {
    border-bottom: 2px solid transparent;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

#workspaces button.focused {
    border-bottom: 2px solid @color5;
    margin-bottom: 0px;
}

#workspaces button.urgent {
    border-color: @color1;
    color: @color1;
}
