/***** SUGGESTED TO CHANGE CAREFULLY *****/

@import url('file:///home/edward/.cache/wal/colors-waybar.css');

* {
    border: none;
    border-radius: 0px;
    min-height: 0px;
    margin: 0px;
    padding: 0px;
}

/* Recommended if panel "height" unset or smaller then your theme default button height */
button {
    margin: 2px
}

/* SwayTaskBar and SwayWorkspaces use custom widgets, that need this and the next name
   to highlight currently focused task / workspace. */
#task-box {
    padding-left: 4px;
    padding-right: 4px
}

#task-box-focused {
    background-color: rgba (255, 255, 255, 0.12);
    padding-left: 4px;
    padding-right: 4px
}

#panel-top {
    background: color0;
    color: @color7
}

#panel-bottom {
    background: @color0;
    color: @color7
}

#clock,
#controls-overview,
#controls-window,
#controls-window scale value,
#executor-label,
#executor-icon,
#hyprland-workspaces,
#hyprland-workspaces-item,
#hyprland-workspaces-icon,
#hyprland-workspaces-name,
#inner-tray,
#playerctl-button,
#playerctl-label,
#root-playerctl,
#root-clock,
#root-executor,
#root-uptime,
#sway-workspaces,
#sway-workspaces-item,
#sway-workspaces-icon,
#sway-workspaces-name,
#tray,
#uptime,
#weather {
    font-family: monospace;
    font-size: 16px;
    background: @color0;
    color: @color7;
    padding-top: 2px;
    padding-bottom: 2px;
}

#controls-window {
    border-radius: 15px;
}

/* dwl-tags module */
#dwl-tag-box {
	padding-top: 4px;
	padding-bottom: 4px
}

#dwl-tag-occupied {
	font-family: monospace;
	color: @color7;
    background-color: @color2;
    padding-left: 3px;
    padding-right: 3px;
}

#dwl-tag-free {
	font-family: monospace;
	color: @color7;
    background-color: @color3;
    padding-left: 3px;
    padding-right: 3px;
}

#dwl-tag-urgent {
	font-family: monospace;
	color: @color7;
    background-color: @color1;
    padding-left: 3px;
    padding-right: 3px;
}

#dwl-tag-selected {
	border: solid 2px;
	border-color: @color5;
}
