@import url('file:///home/edward/.cache/colors/current/waybar.css');

* {
  border-radius: 0;
  border: none;
  text-shadow: 1px 1px 3px alpha(@base00, 0.7);
}

button {
  background: none;
  padding: 10px
}

#clock-label {
  font-family: monospace
}

#unlock-button {
  border: 1px solid @base04;
  background-color: @base00;
}

#input-field {
  border: 1px solid @base04;
  background-color: @base00;
}

#playerctl-box {
  border: 1px solid @base04;
  margin: 20px;
  background-color: @base00;
}
